@charset "utf-8";

h1 {
    font-size: 32px;

    font-family: 'Courier New', Courier, monospace;

    color: #c36fb2;
}

h2 {
    font-size: 36px;

    line-height: 48px;

    color: #d45750;
}

h3 {

    color: #935e5ec1;
}

p {

    font-size: 20px;

    color: rgb(132, 109, 109);

}

a:visited {
    color: aqua;
}